<!doctype html>
<html lang="en" class="{{#if isExport}}export{{/if}}">
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{description}}" />
  <meta name="viewport" content="width=device-width" />

  <title>{{productName}} &middot; {{#if page.is_homepage}}{{description}}{{else}}{{page.title}}{{/if}}</title>

  {{#if isDev}}
    {{#each css_paths}}
      <link rel="stylesheet" href="../{{this}}" />
    {{/each}}
  {{else}}
    <link rel="stylesheet" href="{{#if page.is_404}}/{{/if}}css/flickity-docs.css?6" media="screen" />
  {{/if}}

  {{! Twitter Cards }}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@metafizzyco" />
  <meta name="twitter:url" content="https://flickity.metafizzy.co/{{@file.namebase}}.html" />
  <meta name="twitter:title" content="{{productName}}{{#unless page.is_homepage}} {{page.title}}{{/unless}}" />
  <meta name="twitter:description" content="{{description}}" />

</head>
<body class="page--{{@file.namebase}}">

{{> top-banner}}

{{> site-nav}}

{{#if page.is_homepage}}
  {{> hero-carousel}}
{{/if}}

<div class="main">
  <div class="container">
    {{#if page.title}}
      <h1 class="page-title">{{page.title}}</h1>
    {{/if}}

    {{#if page.is_homepage}}
      {{> big-links}}
    {{/if}}

    <ul class="page-nav" data-js="page-nav"></ul>

{{! remove preceding whitespace for <pre><code> blocks }}
{{{main}}}
  </div>
</div>

{{> site-nav}}

{{> site-footer flickity=true}}

{{#if isDev}}
  {{#each js_paths}}
    <script src="../{{this}}"></script>
  {{/each}}
{{else}}
  <script src="{{#if page.is_404}}/{{/if}}js/flickity-docs.min.js?2"></script>
{{/if}}

{{#unless isExport}}
  <script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','UA-58739927-1','auto');ga('send','pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
{{/unless}}

</body>
</html>
