<a class="buy-button" href="https://gum.co/{{gumroad_slug}}">
  <span class="buy-button__project">Flickity Commercial</span>
  <span class="buy-button__title">{{title}}</span>
  <span class="buy-button__license">License</span>
  <span class="buy-button__for">for {{for}}</span>
  {{#if was_price}}
    <span class="buy-button__was-price">Originally ${{was_price}}</span>
  {{/if}}
  <span class="buy-button__price">
    <span class="buy-button__price__dollar">$</span><span class="buy-button__price__value">{{price}}</span>
  </span>
</a>
